body {
  background: #eeeeee;
  margin: 0;
}

#root {
  padding: 20px;
}

.container {
  background-color: white;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  margin-bottom: 2em;
  border-radius: 5px;
}

label {
  color: darkgray;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.textarea-form {
  border-radius: 5px;
  border: 2px solid #ddd;
  display: flex;
  justify-content: flex-start;
}

.button {
  background-color: #d1d1d1;
  color: black;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid black;
  margin-top: 1em;
  display: flex;
  justify-content: flex-start;
}

.button:hover {
  background-color: #e8e8e8;
  color: darkgray;
  border: 1px solid #e8e8e8;
}

.primary-button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  text-decoration: underline;
}

.primary-button:hover {
  color: #d1d1d1;
  text-decoration: underline;
}

ul {
  list-style: none;
}

.loggin-btn {
  margin-bottom: 1em;
}
