.app-background {
  background-color: #eeeeee;
  padding: 20px;
}

.container {
  background-color: white;
  padding: 10px;
  box-shadow: 2px 2px 4px -2px #b7b7b7 inset;
}

.label {
  color: darkgray;
}

.textarea-form {
  border-radius: 3px;
  border: 2px solid #ddd;
}
